In [2]:

# number 8 on the milestone #1
import pandas as pd 
import numpy as np 



data = pd.read_csv('C:\\Users\\fderango\\Downloads\\01_set_up_environment_and_data\\us_stocks.csv')
data.shape

(15389314, 14)

In [3]:
data.head(30)

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,31.041951,34.112034,27.289627,30.018590,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,29.295415,29.336350,27.160002,27.548879,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,28.183363,30.018590,27.330562,30.018590,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,28.995229,29.766161,27.460188,27.460188,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,27.378319,28.613174,27.289627,28.012803,3464400.0
5,A,1999-11-26,40.88,41.50,40.75,41.19,1237100.0,0.0,1.0,27.889999,28.312988,27.801308,28.101494,1237100.0
6,A,1999-11-29,41.00,42.44,40.56,42.13,2914700.0,0.0,1.0,27.971868,28.954295,27.671682,28.742800,2914700.0
7,A,1999-11-30,42.00,42.94,40.94,42.19,3083000.0,0.0,1.0,28.654109,29.295415,27.930934,28.783735,3083000.0
8,A,1999-12-01,42.19,43.44,41.88,42.94,2115400.0,0.0,1.0,28.783735,29.636535,28.572240,29.295415,2115400.0
9,A,1999-12-02,43.75,45.00,43.19,44.13,2195900.0,0.0,1.0,29.848030,30.700831,29.465975,30.107281,2195900.0
10,A,1999-12-03,44.94,45.69,44.31,44.50,2175700.0,0.0,1.0,30.659896,31.171577,30.230085,30.359711,2175700.0
11,A,1999-12-06,45.25,46.44,45.19,45.75,1610000.0,0.0,1.0,30.871391,31.683257,30.830457,31.212511,1610000.0
12,A,1999-12-07,45.75,46.00,44.31,45.25,1585100.0,0.0,1.0,31.212511,31.383072,30.230085,30.871391,1585100.0
13,A,1999-12-08,45.25,45.63,44.81,45.19,1350400.0,0.0,1.0,30.871391,31.130643,30.571205,30.830457,1350400.0
14,A,1999-12-09,45.25,45.94,45.25,45.81,1451400.0,0.0,1.0,30.871391,31.342137,30.871391,31.253446,1451400.0
15,A,1999-12-10,45.69,45.94,44.75,44.75,1190800.0,0.0,1.0,31.171577,31.342137,30.530271,30.530271,1190800.0
16,A,1999-12-13,45.50,46.25,44.38,45.50,2875900.0,0.0,1.0,31.041951,31.553632,30.277842,31.041951,2875900.0
17,A,1999-12-14,45.38,45.38,42.06,43.00,1665900.0,0.0,1.0,30.960082,30.960082,28.695043,29.336350,1665900.0
18,A,1999-12-15,42.00,42.31,41.00,41.69,2087100.0,0.0,1.0,28.654109,28.865603,27.971868,28.442614,2087100.0
19,A,1999-12-16,42.00,48.00,42.00,47.25,1848300.0,0.0,1.0,28.654109,32.747553,28.654109,32.235872,1848300.0
20,A,1999-12-17,46.38,47.12,45.44,45.94,2652400.0,0.0,1.0,31.642323,32.147181,31.001017,31.342137,2652400.0
21,A,1999-12-20,46.25,46.94,46.13,46.88,856100.0,0.0,1.0,31.553632,32.024378,31.471763,31.983443,856100.0
22,A,1999-12-21,46.69,46.69,46.00,46.63,1616200.0,0.0,1.0,31.853818,31.853818,31.383072,31.812883,1616200.0
23,A,1999-12-22,46.63,47.56,46.31,47.56,1363200.0,0.0,1.0,31.812883,32.447367,31.594566,32.447367,1363200.0
24,A,1999-12-23,47.50,50.00,47.44,49.75,1544700.0,0.0,1.0,32.406433,34.112034,32.365498,33.941474,1544700.0
25,A,1999-12-27,49.94,53.19,49.56,52.81,1451800.0,0.0,1.0,34.071100,36.288382,33.811848,36.029131,1451800.0
26,A,1999-12-28,54.25,61.50,53.94,61.50,2546500.0,0.0,1.0,37.011557,41.957802,36.800063,41.957802,2546500.0
27,A,1999-12-29,63.00,79.06,62.94,72.00,7524000.0,0.0,1.0,42.981163,53.937949,42.940229,49.121329,7524000.0
28,A,1999-12-30,76.00,80.00,74.25,79.25,4771900.0,0.0,1.0,51.850292,54.579255,50.656371,54.067574,4771900.0
29,A,1999-12-31,79.50,79.94,76.25,77.31,1381400.0,0.0,1.0,54.238135,54.538320,52.020852,52.744027,1381400.0

In [4]:
# convert the date column  to datetime 

data['date'] = pd.to_datetime(data['date'])

In [5]:
# self check 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15389314 entries, 0 to 15389313
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   ticker       object
 1   date         datetime64[ns]
 2   open         float64
 3   high         float64
 4   low          float64
 5   close        float64
 6   volume       float64
 7   ex-dividend  float64
 8   split_ratio  float64
 9   adj_open     float64
 10  adj_high     float64
 11  adj_low      float64
 12  adj_close    float64
 13  adj_volume   float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 1.6+ GB

In [6]:
#Select stock price data only from 2,000 onwards
data = data.loc[30:,:]
data

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
30,A,2000-01-03,78.75,78.94,67.3800,72.00,3343600.0,0.0,1.0,53.726454,53.856080,45.969377,49.121329,3343600.0
31,A,2000-01-04,68.13,68.88,64.7500,66.50,3408500.0,0.0,1.0,46.481058,46.992738,44.175084,45.369006,3408500.0
32,A,2000-01-05,66.25,66.31,61.3100,61.56,4119200.0,0.0,1.0,45.198445,45.239380,41.828176,41.998737,4119200.0
33,A,2000-01-06,61.63,62.00,58.1300,60.00,1812900.0,0.0,1.0,42.046493,42.298923,39.658651,40.934441,1812900.0
34,A,2000-01-07,59.06,65.94,59.0000,65.00,2016900.0,0.0,1.0,40.293135,44.986951,40.252200,44.345645,2016900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15389309,ZUMZ,2018-03-21,23.80,24.60,23.6058,23.95,354092.0,0.0,1.0,23.800000,24.600000,23.605800,23.950000,354092.0
15389310,ZUMZ,2018-03-22,23.90,24.35,23.3000,23.35,269607.0,0.0,1.0,23.900000,24.350000,23.300000,23.350000,269607.0
15389311,ZUMZ,2018-03-23,23.55,24.20,23.4500,23.55,301584.0,0.0,1.0,23.550000,24.200000,23.450000,23.550000,301584.0
15389312,ZUMZ,2018-03-26,23.75,24.80,23.7000,24.65,375320.0,0.0,1.0,23.750000,24.800000,23.700000,24.650000,375320.0
15389313,ZUMZ,2018-03-27,24.65,24.65,23.3500,23.60,403884.0,0.0,1.0,24.650000,24.650000,23.350000,23.600000,403884.0

In [7]:
# reset the index with date and ticker  
data = data.set_index(['date','ticker'])
data

,,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
date,ticker,,,,,,,,,,,,
2000-01-03,A,78.75,78.94,67.3800,72.00,3343600.0,0.0,1.0,53.726454,53.856080,45.969377,49.121329,3343600.0
2000-01-04,A,68.13,68.88,64.7500,66.50,3408500.0,0.0,1.0,46.481058,46.992738,44.175084,45.369006,3408500.0
2000-01-05,A,66.25,66.31,61.3100,61.56,4119200.0,0.0,1.0,45.198445,45.239380,41.828176,41.998737,4119200.0
2000-01-06,A,61.63,62.00,58.1300,60.00,1812900.0,0.0,1.0,42.046493,42.298923,39.658651,40.934441,1812900.0
2000-01-07,A,59.06,65.94,59.0000,65.00,2016900.0,0.0,1.0,40.293135,44.986951,40.252200,44.345645,2016900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,ZUMZ,23.80,24.60,23.6058,23.95,354092.0,0.0,1.0,23.800000,24.600000,23.605800,23.950000,354092.0
2018-03-22,ZUMZ,23.90,24.35,23.3000,23.35,269607.0,0.0,1.0,23.900000,24.350000,23.300000,23.350000,269607.0
2018-03-23,ZUMZ,23.55,24.20,23.4500,23.55,301584.0,0.0,1.0,23.550000,24.200000,23.450000,23.550000,301584.0
2018-03-26,ZUMZ,23.75,24.80,23.7000,24.65,375320.0,0.0,1.0,23.750000,24.800000,23.700000,24.650000,375320.0
2018-03-27,ZUMZ,24.65,24.65,23.3500,23.60,403884.0,0.0,1.0,24.650000,24.650000,23.350000,23.600000,403884.0

In [8]:
# rename columns 
data.rename(columns={'adj_open':'open','adj_low':'low','adj_high':'high','adj_close':'close','adj_volume':'volumne'})
data

,,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
date,ticker,,,,,,,,,,,,
2000-01-03,A,78.75,78.94,67.3800,72.00,3343600.0,0.0,1.0,53.726454,53.856080,45.969377,49.121329,3343600.0
2000-01-04,A,68.13,68.88,64.7500,66.50,3408500.0,0.0,1.0,46.481058,46.992738,44.175084,45.369006,3408500.0
2000-01-05,A,66.25,66.31,61.3100,61.56,4119200.0,0.0,1.0,45.198445,45.239380,41.828176,41.998737,4119200.0
2000-01-06,A,61.63,62.00,58.1300,60.00,1812900.0,0.0,1.0,42.046493,42.298923,39.658651,40.934441,1812900.0
2000-01-07,A,59.06,65.94,59.0000,65.00,2016900.0,0.0,1.0,40.293135,44.986951,40.252200,44.345645,2016900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,ZUMZ,23.80,24.60,23.6058,23.95,354092.0,0.0,1.0,23.800000,24.600000,23.605800,23.950000,354092.0
2018-03-22,ZUMZ,23.90,24.35,23.3000,23.35,269607.0,0.0,1.0,23.900000,24.350000,23.300000,23.350000,269607.0
2018-03-23,ZUMZ,23.55,24.20,23.4500,23.55,301584.0,0.0,1.0,23.550000,24.200000,23.450000,23.550000,301584.0
2018-03-26,ZUMZ,23.75,24.80,23.7000,24.65,375320.0,0.0,1.0,23.750000,24.800000,23.700000,24.650000,375320.0
2018-03-27,ZUMZ,24.65,24.65,23.3500,23.60,403884.0,0.0,1.0,24.650000,24.650000,23.350000,23.600000,403884.0

In [9]:
# keep only certain columns
columns = ['open','low','high','close','volume']
new_df = data[columns]
new_df

                    open      low   high  close     volume
date       ticker
2000-01-03 A       78.75  67.3800  78.94  72.00  3343600.0
2000-01-04 A       68.13  64.7500  68.88  66.50  3408500.0
2000-01-05 A       66.25  61.3100  66.31  61.56  4119200.0
2000-01-06 A       61.63  58.1300  62.00  60.00  1812900.0
2000-01-07 A       59.06  59.0000  65.94  65.00  2016900.0
...                  ...      ...    ...    ...        ...
2018-03-21 ZUMZ    23.80  23.6058  24.60  23.95   354092.0
2018-03-22 ZUMZ    23.90  23.3000  24.35  23.35   269607.0
2018-03-23 ZUMZ    23.55  23.4500  24.20  23.55   301584.0
2018-03-26 ZUMZ    23.75  23.7000  24.80  24.65   375320.0
2018-03-27 ZUMZ    24.65  23.3500  24.65  23.60   403884.0

[15389284 rows x 5 columns]

In [10]:
# store the dataframe in HDF5 format

import h5py

new_df.to_hdf('data.h5', key='new_df', mode='w')

In [11]:
h5_df = pd.read_hdf('data.h5', 'new_df')
h5_df

                    open      low   high  close     volume
date       ticker
2000-01-03 A       78.75  67.3800  78.94  72.00  3343600.0
2000-01-04 A       68.13  64.7500  68.88  66.50  3408500.0
2000-01-05 A       66.25  61.3100  66.31  61.56  4119200.0
2000-01-06 A       61.63  58.1300  62.00  60.00  1812900.0
2000-01-07 A       59.06  59.0000  65.94  65.00  2016900.0
...                  ...      ...    ...    ...        ...
2018-03-21 ZUMZ    23.80  23.6058  24.60  23.95   354092.0
2018-03-22 ZUMZ    23.90  23.3000  24.35  23.35   269607.0
2018-03-23 ZUMZ    23.55  23.4500  24.20  23.55   301584.0
2018-03-26 ZUMZ    23.75  23.7000  24.80  24.65   375320.0
2018-03-27 ZUMZ    24.65  23.3500  24.65  23.60   403884.0

[15389284 rows x 5 columns]